@{
    ViewBag.Title = "Gifts";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="~/Content/my.css" rel="stylesheet" type="text/css"/>

</head>


<body style="background-color:lightpink">
@*<div id="set">
<div class="menu">
<ul class="menu-list">
<li ><a href="#" class="hyper-link" style="margin-left:10px; background-color:#FF66FF">WELL_COME--->
<span class="box-animation">
<span class="front" style="background-color:#66CC00; width:220px; font-size:25px; font-family:Cooper Black; color:#FF3366; padding:4px 5px 2px 2px" >Online Gift Shop</span>

</span>
</a></li>


<li><a href="~/Home/Index" class="hyper-link" style="margin-left:70px">Home
<span class="box-animation">
<span class="front">Home</span>
<span class="back">Home</span>
</span>
</a></li>
<li><a href="~/Home/Cards" class="hyper-link" style="margin-left:10px">Cards
<span class="box-animation">
<span class="front">Cards</span>
<span class="back">Cards</span>
</span>
</a></li>
<li><a href="~/Home/Gifts" class="hyper-link" style="margin-left:10px">Gift
<span class="box-animation">
<span class="front">Gift</span>
<span class="back">Gift</span>
</span>
</a></li> 
<li><a href="~/Home/GiftPapers" class="hyper-link" style="margin-left:10px">Gift Paper
<span class="box-animation">
<span class="front">Gift Paper</span>
<span class="back">Gift Paper</span>
</span>
</a></li>

<li><a href="~/Registration/Signup" class="hyper-link" style="margin-left:10px">Sign Up
<span class="box-animation">
<span class="front">Sign Up</span>
<span class="back">Sign Up</span>
</span>
</a></li>
<li><a href="~/Registration/LogIn" class="hyper-link" style="margin-left:10px">Log In
<span class="box-animation">
<span class="front">Log In</span>
<span class="back">Log In</span>
</span>
</a></li>
<li><a href="~/Home/ContactUs" class="hyper-link" style="margin-left:10px">Contact Us
<span class="box-animation">
<span class="front">Contact Us</span>
<span class="back">Contact Us</span>
</span>
</a></li>


</ul>


</div>
</div>*@



<div style="border:groove; margin-left:2%; margin-top:20px;  width:95%; height:1300px;">

<div class="img" style="float:left; margin-left:2%; margin-top:2%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/vase.jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px;margin-top:20px "><input type="checkbox"/><font color="white">Price:200Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:2%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/jwerly.jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:300Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:2%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/perfume.jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:400Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:4%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/images%20(15).jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:200Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:4%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/images.jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:500Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:4%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/images%20(16).jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:200Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:4%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/images%20(9).jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:300Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:4%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/images%20(10).jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:600Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:4%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/images%20(20).jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:700Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:4%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/images%20(18).jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:200Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:4%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/images%20(17).jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:500Rs</font></div>
</div>
<div class="img" style="float:left; margin-left:2%; margin-top:4%">
 <a target="_blank" href="file:///C|/Users/zeeshan khalid/Desktop/New folder/klematis_big.htm"><img src="~/images/images%20(19).jpg" alt="Klematis" width="250px;" height="190px"/></a>
 <div class="desc" style="background:purple; width:150px; margin-left:50px; margin-top:20px "><input type="checkbox"/><font color="white">Price:200Rs</font></div>
</div>
</div>
<div>
<img src="~/images/634861502048934266.jpg" alt="pic" width="1500px" height="300px"/>
</div>
</body>
</html>
